<center>
    <h3>Reviews</h3>
    <center>
        <div class="row">
            <div class="col-md-6">
                <div class="m-3">
                    <div class="card">
                        <div class="card-header"> Mahesh </div>
                        <div class="card-body">
                            <p>With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="m-3">
                    <div class="card">
                        <div class="card-header"> Mahesh </div>
                        <div class="card-body">
                            <p>With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>