<ul class="navbar-nav flex-column text-left">
    <li class="nav-item">
        <a class="nav-link" id="blog_post" href="#"><i class="fa fa-list-alt"></i> Postagens</a>
    </li>
    
    <li class="nav-item" id="add_post_menu">
        <a class="nav-link" id="add_post" href="#"> <i class="fa fa-plus-circle"></i> Postar</a>
    </li>
    <li class="nav-item" id="all_comments_menu">
        <a class="nav-link" id="all_comments" href="#"> <i class="fa fa-plus-circle"></i> Comentários</a>
    </li>
</ul>
<div class="my-2 my-md-3">
    <a class="btn btn-primary" id="logout_btn">Sair</a>
</div>