<ul class="navbar-nav flex-column text-left">
<li class="nav-item">
        <a class="nav-link" id="home" href="#"><i class="fa fa-list-alt"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="blog_post" href="#"><i class="fa fa-list-alt"></i> Postagens</a>
    </li>
    <li class="nav-item" id="login_menu">
        <a class="nav-link" id="user_login" href="#"> <i class="fa fa-plus-circle"></i> Entrar</a>
    </li>
    <li class="nav-item" id="register_menu">
        <a class="nav-link" id="user_register" href="#"> <i class="fa fa-plus-circle"></i> Cadastrar</a>
    </li>
</ul>

                 

